<% @blogs.each do |blog|%>
  <div class= "d-flex">
  <div class="card mt-5" style="width: 29rem;">
    <img class="card-img-top" src="https://imgv3.fotor.com/images/blog-cover-image/part-blurry-image.jpg">
    <div class="card-body">
      <p class="card-text"><%= blog.content.html_safe%></p>
          <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  </div>
<%end %>

