<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <%= link_to "https://www.instagram.com/traveldoxxar/".html_safe do %>
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://www.facebook.com/profile.php?id=100092978195160&mibextid=LQQJ4d".html_safe do %>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://twitter.com/doxxarts".html_safe do %>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
        </ul>
        <div class="small text-center text-muted fst-italic">© Copyrights at Doxxar 2023. All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
