<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <%= link_to "https://www.doxxar.com/", class: 'navbar-brand', target: '_blank' do %>
      <%= image_tag 'dox.png' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'my-custom-style' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
